@model SGCarreras.Models.Corredor

@{
    string filtro = ViewBag.FiltroActual as string ?? "Todas";
    var listaRegistros = Model.registros;
}

<h2>Listado de Carreras Activas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Kilómetros Totales</th>
            <th>Estado</th>
            <th>Fecha y Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listaRegistros)
        {
            <tr>
                <td>@item.Carrera.Nombre</td>
                <td>@item.Carrera.Ubicacion</td>
                <td>@item.Carrera.KmTotales</td>
                <td>@item.Carrera.Estado.ToString()</td>
                <td>@item.Carrera.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>

