@page
@using SGCarreras.Views.Corredor
@model SGCarreras.Views.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Corredor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Corredor.sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Corredor.sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Corredor.nombreCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Corredor.nombreCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Corredor.cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Corredor.cedula)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Corredor.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
