@model IEnumerable<SGCarreras.Models.Carrera>

<h2>Listado de Carreras En Espera</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Kilómetros Totales</th>
            <th>Estado</th>
            <th>Fecha y Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Ubicacion</td>
                <td>@item.KmTotales</td>
                <td>@item.Estado.ToString()</td>
                <td>@item.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
